{%load static%}
{% load custom_filters %}
{% block page_title %}<title>Dashboard</title>{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/tw-elements.min.css' %}">
{% endblock css_files %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock scripts %}

{% block content %}
    <div class="p-4 h-max w-screen">
        <h1 class="text-2xl font-bold mb-4">Emissions per 1 gown</h1>
        <h2 class="text-l font-bold mb-4">Enviromental impact</h2>
        <div class="overflow-x-auto">
            <div class = 'mt-2 py-2 px-2 bg-white shadow rounded-lg flex flex-col'>
                <div>
                    <h2 class = "py-4 text-2xl font-bold">
                        CO<sub>2</sub> equivalent - KG
                    </h2>
                    <canvas id="BarCO2"></canvas> 
                </div>
                <div class = 'py-8'>    
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Name</th>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Reusable</th>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fibers</th>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Yarn</th>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fabric</th>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Finishing</th>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Manufacturing</th>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Transport</th>
                                <th class="py-1 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Use</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gown in selected_gowns %}
                            <tr>
                                <td class="py-1 px-4 border-b border-gray-300">{{ gown.name }}</td>
                                {% if gown.reusable %}
                                    <td class="py-1 px-4 border-b border-gray-300">Yes</td>
                                {% else %}
                                    <td class="py-1 px-4 border-b border-gray-300">No</td>
                                {% endif %}
                                
                                {% with emissions=co2_emissions_dict|get_item:gown.id %}
                                    {% if emissions %}
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.fibers }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.yarn_production }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.fabric_production }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.finishing }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.manufacturing }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.transport }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.use }}</td>
                                    {% else %}
                                        <td class="py-1 px-4 border-b border-gray-300" colspan="7">No Emissions Data Available</td>
                                    {% endif %}
                                {% endwith %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              
        </div>
            <div class = ' mt-2 py-2 px-2 bg-white shadow rounded-lg flex flex-col'>
                <div>
                    <h2 class = " mb-4 text-2xl font-bold">
                        Energy - MJ
                    </h2>
                    <canvas id="BarEnergy"></canvas> 
                </div>
                <div class = 'py-8'>
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Name</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Reusable</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fibers</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Yarn production</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fabric production</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Finishing</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Manufacturing</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Transport</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Use</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gown in selected_gowns %}
                            <tr>
                                <td class="py-1 px-4 border-b border-gray-300">{{ gown.name }}</td>
                                <td class="py-1 px-4 border-b border-gray-300">{{ gown.reusable }}</td>
                                {% with emissions=energy_emissions_dict|get_item:gown.id %}
                                    {% if emissions %}
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.fibers }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.yarn_production }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.fabric_production }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.finishing }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.manufacturing }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.transport }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.use }}</td>
                                    {% else %}
                                        <td class="py-1 px-4 border-b border-gray-300" colspan="7">No Emissions Data Available</td>
                                    {% endif %}
                                {% endwith %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
        </div>
            <div class = 'mt-2 py-2 px-2 bg-white shadow rounded-lg flex flex-col'>
                <div>
                    <h2 class = "text-2xl font-bold mb-2">
                        Water - Liters
                    </h2>
                    <canvas id="BarWater"></canvas>
                </div>
                <div class = 'py-8'>
                    
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Name</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Reusable</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fibers</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Yarn production</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fabric production</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Finishing</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Manufacturing</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Transport</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Use</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gown in selected_gowns %}
                            <tr>
                                <td class="py-1 px-4 border-b border-gray-300">{{ gown.name }}</td>
                                <td class="py-1 px-4 border-b border-gray-300">{{ gown.reusable }}</td>
                                {% with emissions=water_emissions_dict|get_item:gown.id %}
                                    {% if emissions %}
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.fibers }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.yarn_production }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.fabric_production }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.finishing }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.manufacturing }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.transport }}</td>
                                        <td class="py-1 px-4 border-b border-gray-300">{{ emissions.use }}</td>
                                    {% else %}
                                        <td class="py-1 px-4 border-b border-gray-300" colspan="7">No Emissions Data Available</td>
                                    {% endif %}
                                {% endwith %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class = 'mt-2 py-2 px-2 bg-white shadow rounded-lg flex flex-col'>
                <div class = 'py-2'>
                    <h1 class = "text-2xl font-bold mb-2">
                        Social impacts
                    </h1>
                    <h2 class = "text-l font-bold mb-2">
                        Certificates
                    </h2>
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Gown</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Reusable</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">OEKO-TEX Made in Green</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fair wear Foundations</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fair for life Kleding</th>
                                <th class="py-2 px-4 border-b border-gray-300 text-left text-sm leading-4 text-gray-800 uppercase">Fairtrade Textile Production Standard</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gown in selected_gowns %}
                            <tr>
                                <td class="py-1 px-4 border-b border-gray-300">{{ gown.name }}</td>
                                <td class="py-1 px-4 border-b border-gray-300">{{ gown.reusable }}</td>
                                <td class="py-1 px-4 border-b border-gray-300">
                                    {% if gown|has_certification:"OEKO-TEX Made in Green" %}
                                    <p class='text-green-500'> ✓ </p>
                                    {% else %}
                                    <p class='text-red-500'>✗</p>
                                    {% endif %}
                                </td>
                                <td class="py-1 px-4 border-b border-gray-300">
                                    {% if gown|has_certification:"Fair wear Foundation" %}
                                    <p class='text-green-500'> ✓ </p>
                                    {% else %}
                                    <p class='text-red-500'>✗</p>
                                    {% endif %}
                                </td>
                                <td class="py-1 px-4 border-b border-gray-300">
                                    {% if gown|has_certification:"Fair for life Kleding" %}
                                    <p class='text-green-500'> ✓ </p>
                                    {% else %}
                                    <p class='text-red-500'>✗</p>
                                    {% endif %}
                                </td>
                                <td class="py-1 px-4 border-b border-gray-300">
                                    {% if gown|has_certification:"Fairtrade Textile Production Standard" %}
                                    <p class='text-green-500'> ✓ </p>
                                    {% else %}
                                    <p class='text-red-500'>✗</p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
               
        </div>
        <section id='Socio' class=" py-1">
            <div class="mt-2 py-2 h-600px bg-white shadow rounded-lg">
                
              <div class="grid grid-cols-2">
                <div>
                    <h2 class = "px-2 text-l text-center font-bold mb-2">
                        Local FTE (paid hours)
                    </h2>
                    <div id="regions_div" style="width: 600px; height: 400px;"></div>
                </div>
                <div class = "" style="width: 600px;">
                    <h2 class = "px-2 text-l text-center font-bold mb-2">
                        Economic impacts (€)
                    </h2>
                  <canvas id="horizontalBarChart"></canvas>
                </div>
              </div>
            </div>
          </section>

        <a href="{% url 'gown_list' %}" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back to Gown List</a>
    </div>


<section id = "charts">
    <script>
        // Extracting data from Django template context
        const gowns = JSON.parse('{{ serialized_gowns|safe }}');
        const emissions = JSON.parse('{{ serialized_emissions|safe }}');
        console.log(gowns);
        console.log(emissions);
    
        // Function to get specific color based on gown type
        function getGownColor(gownType) {
            switch(gownType.toLowerCase()) {
                case 'cotton':
                    return 'rgba(0, 128, 0)';  // Green
                case 'polyester':
                    return 'rgba(0, 0, 255)';  // Blue
                case 'lyocell':
                    return 'rgba(255, 255, 0)';  // Yellow
                default:
                    return 'rgba(128, 128, 128)';  // Gray for unknown types
            }
        }
    
        function filterEmissionsByStage(stage) {
            return emissions.filter(emission => emission.fields.emission_stage === stage);
        }
    
        function prepareDataset(emissionData) {
            return emissionData.map(emission => {
                const emissionFields = emission.fields;
                const gown = gowns.find(g => g.pk === emissionFields.gown);
                const gownType = gown ? gown.fields.name : 'unknown';
    
                return {
                    label: `Gown: ${gownType}`,
                    data: [
                        emissionFields.fibers, 
                        emissionFields.yarn_production, 
                        emissionFields.fabric_production, 
                        emissionFields.finishing, 
                        emissionFields.manufacturing, 
                        emissionFields.transport, 
                        emissionFields.use
                    ],
                    backgroundColor: getGownColor(gownType),
                    borderWidth: 1
                };
            });
        }
    
        // Labels for the stages
        const labels = ['Fibers', 'Yarn Production', 'Fabric Production', 'Finishing', 'Manufacturing', 'Transport', 'Use'];
    
        // Prepare data for each chart
        const co2Data = prepareDataset(filterEmissionsByStage("Co2"));
        const energyData = prepareDataset(filterEmissionsByStage("ENERGY"));
        const waterData = prepareDataset(filterEmissionsByStage("WATER"));

    
        // Chart configuration function
        function createChartConfig(title, datasets) {
            return {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: datasets,
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: title,
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        }
                    },
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        align: 'start'
                    },
                },
            };
        }
    
        // Creating the Chart.js charts
        const ctxBarCO2 = document.getElementById('BarCO2').getContext('2d');
        const myChartCO2 = new Chart(ctxBarCO2, createChartConfig('CO2 Emissions (kg CO2 eq)', co2Data));
    
        const ctxBarEnergy = document.getElementById('BarEnergy').getContext('2d');
        const myChartEnergy = new Chart(ctxBarEnergy, createChartConfig('Energy Usage (MJ)', energyData));
    
        const ctxBarWater = document.getElementById('BarWater').getContext('2d');
        const myChartWater = new Chart(ctxBarWater, createChartConfig('Water Usage (Liters)', waterData));
    </script>
    
    
    <script type="text/javascript">
        google.charts.load('current', {
          'packages': ['geochart'],
          // Note: you will need to get your own mapsApiKey for using the chart with your own API key.
          'mapsApiKey': 'YOUR_GOOGLE_MAPS_API_KEY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);
  
        function drawRegionsMap() {
          var data = google.visualization.arrayToDataTable([
            ['Province', 'Value'],
            ['Drenthe', 600],
            ['Flevoland', 600],
            ['Friesland', 600],
            ['Gelderland', 600],
            ['Groningen', 600],
            ['Limburg', 600],
            ['Noord-Brabant', 600],
            ['Noord-Holland', 800],
            ['Overijssel', 600],
            ['Utrecht', 600],
            ['Zeeland', 600],
            ['Zuid-Holland', 600]
          ]);
  
          var options = {
            region: 'NL',
            displayMode: 'regions',
            resolution: 'provinces',
            colorAxis: {colors: ['#3e7e00', '#326500']} // Customize color gradient
          };
  
          var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
          chart.draw(data, options);
        }
      </script>
    
      <script>
        const horizontalBarConfig = {
            type: 'horizontalBar',
            data: {
                labels: [
                    {% for gown in selected_gowns %}
                        "{{ gown.name }}",
                    {% endfor %}
                ],
                datasets: [
                    {
                        label: 'Cost per piece of gown',
                        data: [
                            {% for gown in selected_gowns %}
                                {{ gown.cost }},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            {% for gown in selected_gowns %}
                                {% if "cotton" in gown.name|lower %}
                                    'green',
                                {% elif "lyocell" in gown.name|lower %}
                                    'yellow',
                                {% elif "polyester" in gown.name|lower %}
                                    'blue',
                                {% else %}
                                    'grey', // Default color if gown material is not specified
                                {% endif %}
                            {% endfor %}
                        ],
                    },
                ],
            },
            options: {
                plugins: {
                    title: {
                        display: false,
                        text: 'Cost gown',
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    },
                },
                responsive: true,
                legend: {
                    labels: {
                    display: true,
                    position: "bottom",
                    align: "start"
                    }
                    
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            },
        };
        
        const horizontalBarCtx = document.getElementById('horizontalBarChart').getContext('2d');
        const horizontalBarChart = new Chart(horizontalBarCtx, horizontalBarConfig);
    </script>
    
    
        
{% endblock content %}
